.ctn{
  /* position: fixed; */
  margin: 0;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  box-shadow: 2px 2px 5px 3px var(--blackShadow);
}
.navTodo{
  width: 30%;
  height: 100%;
}
.imgTodo{
  margin: 2px 20px 0 40px;
  height: 80%;
}
.imgTodo:hover{
  height: 95%;
}
.divH3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  width: 40%;
}
a{
  text-decoration: none;
  color: var(--blue);
}
.h3{
  font-size: 100%;;
}

@media only screen and (max-width: 900px) {
  .ctn{

  }
}
@media only screen and (max-width: 700px) {
  .ctn{
    height: 45px;
  }
  .h3{
    font-size: 0.8em;
  }
  .imgPoke{
    margin: 0 20px 0 20px;
  }
}
@media only screen and (max-width: 559px) {

}
